body {
    max-width: 1920px;
    color: black;
}

h1 {
    font-size: 2rem !important;
}

.form-container {
    display: flex;
    justify-content: center;
    border: solid 1px gray;
    border-radius: 5px;
    height: 250px;
}

.calc-p-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success_hidden {
    display: none;
}

.compound-results-hidden {
    display: none;
}

.container-find-percentage {
    max-width: 500px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.windows-mode {
    color: #222;
    background-color: #c0c0c0;
}


.mode-btn-container>* {
    width: 100px;
    margin: 10px;

}

.title-bar-text {
    width: 100%;
}

.portfolio-link {
    display: block;
    text-align: center;
}